<h1>To'liq ma'lumot </h1>
<style>
    .title{
        text-align: center;
    }
    .linker{
        text-decoration: none;
        color: black;
    }
</style>
<h3 class="title">{{resp.title}}</h3>

<p class="text">{{resp.text}}</p>


<p>Muallif: {{resp.first_name}} {{resp.last_name}}</p>


<button type="button" class="btn btn-outline-warning"><a class="linker" href="/authorstopic/{{resp.id}}">Authorning barcha maqolalari</a></button>

